// font-family: 'DM Sans', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Poppins', sans-serif;

:root {
  --main-font: "Montserrat", sans-serif;
  --font-weight-main: 400;
  --font-weight-secondary: 500;
}
