<header>
  <div class="header-promotion">
    <div class="header-promotion__content">
      <a href="#">подробнее <img src="@img/svg/arrow-right.svg" alt="/" /></a>
      <p>Лорем ипсум</p>
    </div>
  </div>
  <div class="header-bottom__wrapper">
    <div class="header-bottom">
      <div class="header-bottom__mobile-left-menu">
        <div class="header-bottom__mobile-logo">
          <img src="@img/logo.png" alt="" />
        </div>
        <div class="header-bottom__mobile-categoryBtn">
          Категории <img src="@img/svg/arrow-down-bold.svg" alt="" />
        </div>
      </div>
      <div class="header-bottom__menu-all">
        <div class="header-bottom__menu-allBtn"><img src="@img/svg/locations.svg" alt="" />Все</div>
        <ul class="header-bottom__menu-all-list">
            <li>Головна сторінка</li>
            <li>Про нас</li>
            <li>Контакти</li>
            <li>Особистий кабінет <img src="@img/svg/arrow-down-bold.svg" alt=""></li>
            <li>Доставка та оплата</li>
            <li>Обмін та повернення</li>
            <li>Вибране</li>
            <li>Кошик</li>
            <li>Оформлення замовлення</li>
            <li>FAQ</li>
            <li>Новини<img src="@img/svg/arrow-down-bold.svg" alt=""></li>
            <li>Всі категорії<img src="@img/svg/arrow-down-bold.svg" alt=""></li>
            <li>Для покупців</li>
            <li>Для продавців</li>
            <li>Карта сайта</li>
            <li>Політика конфіденційності</li>
            <li>Сторінка 404</li>
            <li>Правила використання cookies</li>
        </ul>
      </div>
      <div class="header-bottom__current-location">
        <img src="@img/svg/current-location.svg" alt="" /> Киев
      </div>
      <div class="header-bottom__nav">
        <a href="">О нас</a>
        <a href="">Контакты</a>
      </div>
      <div class="header-bottom__language">Язык</div>
      <div class="header-bottom__currency">
        <img src="@img/svg/currency-dollar.svg" alt="" />
      </div>
      <div class="header-bottom__notifications">
        <img src="@img/svg/notifications.svg" alt="" />
      </div>
      <div class="header-bottom__cabinet-dropdown">
        <div class="header-bottom__cabinet-dropdownBtn">
          <img src="@img/svg/bxs_user.svg" alt="" />
          Личный кабинет
          <img src="@img/svg/arrow-down-bold.svg" alt="" />
        </div>
        <div class="header-bottom__cabinet-dropdown-content">
          <div><img src="@img/svg/cabinet-header-menu.svg" alt="" /></div>
          <div class="buttons-wrapper">
            <a href="">Регистрация</a>
            <a href="">Войти</a>
          </div>
        </div>
      </div>
      <div class="header-bottom__mobile-right-menu">
        <button>
          <img src="@img/svg/search-filled-black.svg" alt="" />
        </button>
        <a href=""><img src="@img/svg/cart.svg" alt="" /></a>
        <button><img src="@img/svg/mobile-menu-filled.svg" alt="" /></button>
      </div>
      <div class="categories-mobile">
        <ul class="categories-mobile__menuTop">
                <li>Язык</li>
                <li>Киев</li>
                <li>$</li>
                <li> <img src="@img/svg/like.svg" alt=""> </li>
                <li> <img src="@img/svg/hero-menu-reset.svg" alt=""> </li>
        </ul>
        <div class="categories-mobile__categories">
            <p>Каталог</p>
            <ul>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
                <li>Категория</li>
            </ul>
        </div>
        <div class="categories-mobile__menuBot">
            <a href=""></a>
            <a href=""></a>
            <button type="button"></button>
        </div>
      </div>
    </div>
  </div>
</header>
