// @import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter:wght@400;500;600&family=Montserrat+Alternates:wght@400;500;700&family=Montserrat:wght@400;500;600;700&family=Noto+Sans:wght@600&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F9FA;
}

a {
  text-decoration: none;
  // color: ;
}

ul {
  list-style-type: none;
}

.wrapper {
  // max-width: 1320px;
  margin: 0 auto;
}

.container {
  // max-width: 1320px;
  margin: 0 auto;
}

@import "./scss_imports/header/header";
@import "./scss_imports/mainPage/hero";
@import "./scss_imports/banner/baner";
@import "./scss_imports/mainPage/popular_categories";
@import "./scss_imports/utils/splide-core";
@import "./scss_imports/goods-item/goods_item";


